<h5 class="d-flex justify-content-start">Super Cool Credit For The Whole Family</h5>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Balance</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of service.householdMembers" >
      <td>{{member.name}}</td>
      <td>{{member.campcredit | currency:'USD':true}}</td>
      <td>
        <input [ngModel]="member.newcampcredit" (ngModelChange)="member.newcampcredit=$event" class="form-control"/>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<button class='btn btn-primary' (click)="goToPay()">Buy {{total() | currency:'USD':true}} Now</button>

